html {
background-image:
    linear-gradient(
      to right, 
    black, grey
    );
    display: flex;
    justify-content: center;
    font-family: monospace;
}
a#start,
a#stop {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-size: 60px;
}
.stopwatch {
    color: red;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 60px;
}